<div class="container-fluid">
  <div class="row h-100">
    <div class="col ">
      <div class="row m-5">
        <div class="col">
          <app-headerinforme></app-headerinforme>
        </div>
      </div>
      <div class="row m-5">
        <div class="col text-end">
          <p class="fw-bold mb-0">Ciudad de México, Tuesday, November 14, 2023</p>
          <p class="fw-bold mb-1">Atención primaria. Etapa de orientación</p>
          <p class="fw-bold mb-0">Orientación de Luis Andres Santana Reyes</p>
        </div>
      </div>

      <div class="row m-5">
        <div class="col text-end">
          <section>
            <h1 class="col text-center fw-bold">INFORME DE LA SESIÓN DE ORIENTACIÓN</h1>
            <article class="con-justify mt-1">
              De conformidad con los Lineamientos que regulan la
              actuación de la Unidad de Prevención y Combate a la Violencia
              Laboral y al Acoso Sexual en la atención de casos relacionados con
              cualquier forma de violencia laboral y acoso sexual en el Poder
              Judicial de la Federación, con excepción de la Suprema Corte de
              Justicia de la Nación y del Tribunal Electoral del Poder Judicial de la
              Federación, específicamente con lo dispuesto en los artículos 15,
              16 y 17, la <strong>Subdirección de Atención Jurídica</strong> rinde el siguiente
              informe de la sesión de orientación realizada con la persona
              quejosa del cuadernillo citado al rubro.
            </article>
          </section>
        </div>
      </div>

    </div>
  </div>
</div>
