<div class="h-100">
  <div class="row h-100">
    <!-- page 1 -->
    <!-- Hoja 2 -->
    <div class="col box-left">
      <div class="row mt-5 ms-2 me-5">
        <div class="col-2">
          <img src="assets/img/logotipoPJF.png" class="sizeimg">
        </div>
        <div class="col text-center mt-1">
          <p class="text-start">CONSEJO DE LA JUDICATURA FEDERAL <br>
            SECRETARÍA GENERAL DE LA PRESIDENCIA <br>
            UNIDAD DE PREVENCIÓN Y COMBATE A LA VIOLENCIA LABORAL <br>
            Y AL ACOSO SEXUAL</p>
          <div class="v-lineH mt-4">
          </div>
        </div>
        <div class="row mt-5 ms-3 me-3">
          <div class="col">
            <strong>INFORME DE LA SESIÓN DE ORIENTACIÓN</strong> <br><br>
            <p class="con-justify">
              De conformidad con los Lineamientos que regulan la
              actuación de la Unidad de Prevención y Combate a la Violencia
              Laboral y al Acoso Sexual en la atención de casos relacionados con
              cualquier forma de violencia laboral y acoso sexual en el Poder
              Judicial de la Federación, con excepción de la Suprema Corte de
              Justicia de la Nación y del Tribunal Electoral del Poder Judicial de la
              Federación, específicamente con lo dispuesto en los artículos 15,
              16 y 17, la <strong>Subdirección de Atención Jurídica</strong> rinde el siguiente
              informe de la sesión de orientación realizada con la persona
              quejosa del cuadernillo citado al rubro.
            </p>
            <div class="card w-100 bg-body-tertiary" >
              <div class="card-body">
                <h5 class="card-title fs-6">a. Información de la persona agraviada, quejosa o denunciante y de
                  la persona probable infractora.
                  <a class="icon-link icon-link-hover fs-4" style="--bs-link-hover-color-rgb: 142, 68, 173;" data-bs-toggle="modal" data-bs-target="#exampleModalx">
                    <i class="bi bi-person-vcard-fill"></i>
                    <svg class="bi" aria-hidden="true"><use xlink:href="#bi bi-person-vcard-fill"></use></svg>
                  </a>
                </h5>
              </div>
            </div>
            <p class="m-0">Área de adscripción o a la que informe sus actividades: Dirección
              General de Asuntos Jurídicos .</p>
            <div class="card w-100 bg-body-tertiary" >
              <div class="card-body">
                <h5 class="card-title fs-6">b. Narración de los hechos.
                  <a class="icon-link icon-link-hover fs-4" style="--bs-link-hover-color-rgb: 142, 68, 173;" data-bs-toggle="modal" data-bs-target="#exampleModaly">
                    <i class="bi bi-megaphone-fill"></i>
                    <svg class="bi" aria-hidden="true"><use xlink:href="#bi bi-person-vcard-fill"></use></svg>
                  </a>
                </h5>
              </div>
            </div>
            <div class="card w-100 bg-body-tertiary" >
              <div class="card-body">
                <h5 class="card-title fs-6">c. Impresión diagnóstica.
                  <a class="icon-link icon-link-hover fs-4" style="--bs-link-hover-color-rgb: 142, 68, 173;" data-bs-toggle="modal" data-bs-target="#exampleModalz">
                    <i class="bi bi-heart-pulse-fill"></i>
                    <svg class="bi" aria-hidden="true"><use xlink:href="#bi bi-person-vcard-fill"></use></svg>
                  </a>
                </h5>
              </div>
            </div>

            <p class="text-center mt-5">Elaboró</p>
            <p class="text-center fw-bold">Fernanda González Cantoral <br>
              Subdirectora de Atención Jurídica</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Hoja 2 -->
    <div class="col box-right">
      <div class="row mt-5 ms-2 me-5">
        <div class="col-2">
          <img src="assets/img/logotipoPJF.png" class="sizeimg">
        </div>
        <div class="col text-center mt-1">
          <p class="text-start">CONSEJO DE LA JUDICATURA FEDERAL <br>
            SECRETARÍA GENERAL DE LA PRESIDENCIA <br>
            UNIDAD DE PREVENCIÓN Y COMBATE A LA VIOLENCIA LABORAL <br>
            Y AL ACOSO SEXUAL</p>
          <div class="v-lineH mt-4">
          </div>
        </div>
        <div class="row mt-5 ms-3 me-3">
          <div class="col">
            <strong>INFORME DE LA SESIÓN DE ORIENTACIÓN</strong> <br><br>
            <p class="con-justify">
              De conformidad con los Lineamientos que regulan la
              actuación de la Unidad de Prevención y Combate a la Violencia
              Laboral y al Acoso Sexual en la atención de casos relacionados con
              cualquier forma de violencia laboral y acoso sexual en el Poder
              Judicial de la Federación, con excepción de la Suprema Corte de
              Justicia de la Nación y del Tribunal Electoral del Poder Judicial de la
              Federación, específicamente con lo dispuesto en los artículos 15,
              16 y 17, la <strong>Subdirección de Atención Jurídica</strong> rinde el siguiente
              informe de la sesión de orientación realizada con la persona
              quejosa del cuadernillo citado al rubro.
            </p>
            <div class="card w-100 bg-body-tertiary" >
              <div class="card-body">
                <h5 class="card-title fs-6">a. Información de la persona agraviada, quejosa o denunciante y de
                  la persona probable infractora.

                </h5>
              </div>
            </div>
            <p class="m-0">Área de adscripción o a la que informe sus actividades: Dirección
              General de Asuntos Jurídicos .</p>
            <div class="card w-100 bg-body-tertiary" >
              <div class="card-body">
                <h5 class="card-title fs-6">b. Narración de los hechos.

                </h5>
              </div>
            </div>
            <div class="card w-100 bg-body-tertiary" >
              <div class="card-body">
                <h5 class="card-title fs-6">c. Impresión diagnóstica.

                </h5>
              </div>
            </div>

            <p class="text-center mt-5">Elaboró</p>
            <p class="text-center fw-bold">Fernanda González Cantoral <br>
              Subdirectora de Atención Jurídica</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" id="exampleModalx">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información del denunciante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <p class="card-title mt-1 mb-1 fs-5 fw-bold">TERESA SOLIS TORRES</p>
                <p class="card-text m-0 ms-3"><strong>Edad: </strong>30-39 años</p>
                <p class="card-text m-0 ms-3"><strong>Sexo: </strong>Mujer.</p>
                <p class="card-text m-0 ms-3"><strong>Puesto o cargo: </strong>ENCARGADO</p>
                <p class="card-title mt-3 mb-1 fs-5 fw-bold">Datos de contacto:</p>
                <p class="card-text m-0 ms-3"><strong>Teléfono: </strong>3344225511</p>
                <p class="card-text m-0 ms-3"><strong>Correo electrónico: </strong>kgarcia@opti.com.mx</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" id="exampleModaly">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle de narración</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <p class="card-title mt-1 mb-1 fs-5 fw-bold">Descripción:</p>
                <p class="card-text m-0 ms-3">Mi reporte es este de Andres Santana. Saludos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="exampleModalz">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Impresión diagnóstica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <p class="card-title mt-1 mb-1 fs-5 fw-bold">1. Detección de necesidades:</p>
                <p class="card-text m-0 ms-3">Juridico, Restaurativo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
