$family-text: Arial, Helvetica, Verdana;
$bk-purple:#653279;

body {
  background: #FFFFFF;
  margin: 0 !important;
  color: #212f3c;
  font-family:$family-text !important;
  overflow: hidden;
  padding: 0 !important;
}

app-home{
  margin-top: 20px;
  overflow-y: auto;
}

.margin-0{
  margin: 0 auto;
}

.margin-l{
  margin-left: 10rem;
}

.margin-r{
  margin-right: 10rem;
}

.margin-t{
  margin-top: 5rem;
}

.color-primary{
  background: #ECF0F1;
}

.box-left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.box-right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.con-justify {
  text-align: justify;
}

.margin-indice {
  margin: 1rem 0 2rem 7rem;
}

.pointer {cursor: pointer !important;}

.lower-case {
  list-style-type: lower-alpha;
}

.roman {
  list-style-type: upper-roman;
}

.v-lineH {
  border-bottom: thick solid #626567;
  width: 100%;
  margin-left: 0 auto;
}

.sizeimg {
  width: 5rem;
}

.img-consejo{
  width: 30rem;
}

.img-portada{
  width: 18rem;;
}

.sub-titule-90{
  font-size: 80px;
  transform: rotate(-90deg);
}

.sub-titule-180{
  font-size: 80px;
  transform: rotate(90deg);
}
