<div class="container-fluid  h-100">
  <div class="row h-100">
    <!-- Sheet 1 -->
    <div class="col box-left">
      <!-- Container -->
      <app-informe></app-informe>
    </div>
    <!-- End Sheet 1 -->

    <!-- Sheet 2 -->
    <div class="col box-right">
      <!-- Container -->
      <div class="row">
        <div class="col m-5">
          <section class="text-center">
            <img src="assets/img/logosimbolo_CJF_basico_negro.png" class="img-portada">
          </section>

          <div class="row">
            <div class="col-2">
              <div class=" position-absolute top-50 start-50 translate-middle ">
                <p class="sub-titule-90 fs-2 fw-bold margin-l">CJF/UPCVLAS/350/2023</p>
              </div>
            </div>
            <div class="col text-center">
              <section>
                <h4 class="mt-5">
                  CONSEJO DE LA JUDICATURA FEDERAL SECRETARÍA GENERAL DE LA PRESIDENCIA UNIDAD DE PREVENCIÓN Y COMBATE A
                  LA VIOLENCIA LABORAL Y AL ACOSO SEXUAL.
                </h4>
              </section>
              <hr>
              <section class="text-center">
                <h3 class="mt-3">NÚMERO DE EXPEDIENTE:</h3>
                <h5 class="text-decoration-underline mt-3">CJF/UPCVLAS/350/2023</h5>
                <h3 class="mt-1">PERSONA USUARIA:</h3>
                <h3 class="mt-1">TOMO 1</h3>
                <hr class="w-50 margin-0">
                <h3 class="mt-5 ">FECHA DE ARCHIVO:</h3>
                <hr class="margin-t w-75 margin-0">
              </section>
            </div>
            <div class="col-2">
              <div class=" position-absolute top-50 start-100 translate-middle ">
                <p class="sub-titule-180 fs-2 fw-bold margin-r">CJF/UPCVLAS/350/2023</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Sheet 2 -->
  </div>
</div>
