/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

.main {
  height: 98vh;
  min-height: 550px ;
  max-height: 100%;
  min-width: 500px;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #1C2833;
}

.box-left{
  box-shadow: inset -8px 0 30px -8px rgba(0, 0, 0, 0.4);
}

.box-right{
  box-shadow:inset 8px 0 30px -8px rgba(0, 0, 0, 0.4)
}

.next{
  min-height: 100vh !important;
  min-width: 95vw !important;
}

hr {
  height: 5px;
  background-color:#17202A;
}

.con-justify{
  text-align: justify;
}

.lower-case {list-style-type: lower-alpha;}

.roman {list-style-type: upper-roman;}
