<div class="bg-light layout">
  <div id="magazine" class="carousel border border-light-subtle">
    <div class="carousel-inner center shadow-lg mb-5 bg-body-tertiary">
      <div class="carousel-item active home">
          <app-home></app-home>
      </div>
      <div class="carousel-item next">
        <app-pageone></app-pageone>
      </div>
      <div class="carousel-item">
        <div class="row p-0 next">
          <div class="col box-left">
            texto 3
          </div>
          <div class="col box-right">
            texto 4
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev bg-light pagina" type="button" data-bs-target="#magazine" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-light pagina" type="button" data-bs-target="#magazine" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
