<div class="layout-portada size-book mt-5 color-primary">
  <div id="book" class="carousel border border-secondary-subtle shadow-lg h-100" [ngClass]="{'size-book_': tipo==0, 'size-page': tipo!=0}">
    <div class="carousel-inner h-100 overflow-y-auto ">
      <div class="carousel-item active h-100 left">
        <app-informe-0></app-informe-0>
      </div>
      <div class="carousel-item h-100 left"  >
        <app-informe-1></app-informe-1>
      </div>
      <div class="carousel-item h-100 right">
        <app-informe-2></app-informe-2>
      </div>
      <div class="carousel-item h-100 left">
        <app-informe-3></app-informe-3>
      </div>
    </div>
    <button class="carousel-control-prev page leftbtn"  *ngIf="tipo!=0" type="button" data-bs-target="#book" data-bs-slide="prev" (click)="getPrev()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next page rightbtn" type="button" data-bs-target="#book" data-bs-slide="next" (click)="getNext()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
