
body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  color: #512E5F !important;
}

button{
  background: #512E5F !important;
  color: white !important;
}
