<div class="container-fluid">
<div class="row m-5">
  <div class="col">
    <!-- Titulo -->
    <div class="row">
      <div class="col titulo d-block p-2 rounded text-center">
        <strong class="fs-4">Aviso de Privacidad Integral</strong>
        <p class="fs-6">
          Acompañamiento brindado por la Unidad de Prevención y Combate a la Violencia Laboral y
          al Acoso Sexual</p>
      </div>
    </div>
    <!-- Avisos -->
    <div class="row texto">
      <div class="col p-0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Denominación de la instancia responsable
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>El Consejo de la Judicatura Federal (CJF), hace del conocimiento que la <strong>Unidad
                    de Prevención y Combate a la Violencia Laboral y al Acoso Sexual</strong>, es la
                  instancia responsable del uso, tratamiento y destino de los datos personales que
                  se les proporcionen y serán protegidos conforme a lo dispuesto en la Ley General
                  de Protección de Datos Personales en Posesión de Sujetos Obligados (Ley
                  General), publicada en el Diario Oficial de la Federación (DOF) el 26 de enero de
                  2017 y en el Acuerdo General del Pleno del Consejo de la Judicatura Federal que
                  establece las disposiciones en materia de protección de Datos Personales,
                  publicado en el DOF el 10 de octubre de 2018.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Domicilio de la instancia responsable
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p><strong>Consejo de la Judicatura Federal:</strong> Insurgentes Sur 2417, Colonia San Ángel, Álvaro
                  Obregón, C.P. 01000, Ciudad de México.</p>
                <p><strong>Unidad de Prevención y Combate a la Violencia Laboral y al Acoso Sexual:</strong>
                  Edificio “Prisma” ubicado en Insurgentes Sur 2065, Piso 2, colonia San Ángel,
                  Álvaro Obregón, C.P. 01000, Ciudad de México.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Finalidad del tratamiento que requiera el consentimiento de la persona titular
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Los datos personales proporcionados <strong>no requieren del consentimiento de la
                    persona titular para su tratamiento</strong>, debido a que se actualizan los supuestos
                  de excepción previstos en el artículo 22, fracciones IV y V, de la Ley General,
                  relativos a cuando éstos se requieran para:</p>
                <ul>
                  <li>El reconocimiento o defensa de los derechos de la persona titular ante
                    autoridad competente.</li>
                  <li>Para el ejercicio de un derecho o cumplir obligaciones derivadas de una
                    relación jurídica entre la persona titular y el responsable (CJF).</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Datos personales que serán sometidos a tratamiento
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li>Nombre completo, salvo que se desee solicitar el acompañamiento de forma anónima.</li>
                  <li>Información sobre sí misma que la persona solicitante aporte, tales como
                    edad, sexo, tipo de vinculación con el CJF, cargo, adscripción y tipo de
                    órgano jurisdiccional o área administrativa de procedencia.
                  </li>
                  <li>Información de contacto, tales como número telefónico, correo electrónico,
                    nombre y número telefónico de un contacto de emergencia.</li>
                  <li>Medidas deseables a implementar en el Poder Judicial Federal para la
                    construcción de ambientes laborales libres de violencia</li>
                  <li>Forma de conocimiento de la existencia de la Unidad de Prevención y
                    Combate a la Violencia Laboral y al Acoso Sexual</li>
                  <li>Firma de la persona solicitante (excepto en el caso de que la solicitud sea
                    anónima).</li>
                  <li>Aquellos que se aporten a la Unidad de Prevención y Combate a la Violencia
                    Laboral y al Acoso Sexual con el fin de dar seguimiento a las solicitudes de
                    acompañamiento, tales como voz e imagen a través de llamadas,
                    grabaciones y/o videograbaciones o de documentos y/o manifestaciones que
                    se realicen</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Datos personales sensibles
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ol>
                  <li>Información sobre sí misma que la persona solicitante aporte, tales como pertenencia a una
                    comunidad LGBTTIQA+1 indígena o afrodescendiente, así como contar con una discapacidad.</li>
                  <li>Información de la(s) persona(s) señalada(s) como responsable(s) de actos de
                    violencia laboral, acoso sexual o cualquier otra forma de violencia sexual y/o de género que se
                    opte por aportar, tales como nombre completo, edad, sexo, cargo, adscripción, tipo de órgano
                    jurisdiccional o área administrativa de procedencia y tipo de vinculación que la persona
                    solicitante de acompañamiento tiene con quienes
                    se indican como responsable (s).</li>
                  <li>Información que se opte por aportar de otras personas que se estimen
                    responsables, tales como su nombre completo, sexo, cargo, adscripción, tipo
                    de órgano jurisdiccional o área administrativa de procedencia y tipo de
                    vinculación laboral.</li>
                  <li>Información sobre los hechos considerados como violencia, tales como lugar
                    y fecha de la conducta, frecuencia, conocimiento de hechos similares,
                    referencia de anteriores denuncias ante el CJF, tipo de conducta
                    experimentada, referencia de haber denunciado ante personas superiores
                    jerárquicas especificando la instancia, percepción de cambios ocurridos
                    posterior a la denuncia, en su caso, razones valoradas para no denunciar,
                    existencia de procedimientos jurídicos vinculados y descripción de los hechos.</li>
                  <li>Aquellos que se aporten a la Unidad de Prevención y Combate a la Violencia
                    Laboral y al Acoso Sexual con el fin de dar seguimiento a las solicitudes de
                    acompañamiento.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Fundamento legal que faculte el tratamiento
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Artículos 98 Septies y 98 Octies del Acuerdo General del Pleno del CJF, que reglamenta la carrera
                  judicial publicado en el DOF el 3 de noviembre de 2021,
                  reformado por Acuerdo General del mismo Pleno el 6 de julio de 2023.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Transferencias<sup>2</sup> de datos personales que requieran consentimiento de la persona titular
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>De conformidad con el artículo 65, de la Ley General, se informa que el presente
                  tratamiento <strong>no conlleva</strong> una transferencia de los datos personales recabados que
                  requieran el consentimiento de la persona titular; sin embargo, de actualizarse
                  alguno de los supuestos previstos en el artículo 70, de la Ley General, se podrán
                  realizar transferencias de datos personales sin necesidad de requerir su
                  consentimiento</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Mecanismos, medios y procedimientos disponibles para ejercer los derechos ARCO, para que la persona
                titular pueda manifestar la negativa a su tratamiento
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Usted podrá presentar una solicitud para el ejercicio de sus derechos de acceso,
                  rectificación, cancelación u oposición de datos personales (derechos ARCO), en
                  términos de lo establecido en los artículos 49, 50, 51 y 52, de la Ley General y 21,
                  22, 23, 24 y 25, del Acuerdo General; directamente ante la Unidad de
                  Transparencia del Consejo de la Judicatura Federal, o bien, a través de la
                  Plataforma Nacional de Transparencia (<a href="http://www.plataformadetransparencia.org.mx/">
                    http://www.plataformadetransparencia.org.mx/</a>) o mediante el correo electrónico
                  secretariadatospersonales@correo.cjf.gob.mx.
                  En términos del artículo 52 de la Ley General, en la solicitud para el ejercicio de
                  los derechos ARCO, se deberán observar los <strong>requisitos</strong> siguientes:</p>
                <ol type="a">
                  <li> Nombre del titular, domicilio o cualquier otro medio para recibir notificaciones</li>
                  <li> Exhibir los documentos que acrediten la identidad del titular y, en su caso, la personalidad e
                    identidad de su representante</li>
                  <li> Precisar el área que trata los datos personales;</li>
                  <li> La descripción clara y precisa de los datos personales respecto de los que se busca ejercer
                    alguno de los derechos ARCO;</li>
                  <li> La descripción del derecho ARCO que se pretende ejercer, o bien, lo que solicita el titular;
                  </li>
                  <li> Cualquier otro elemento o documento que facilite la localización de los datos personales, en su
                    caso;</li>
                  <li>En caso de solicitar el acceso a datos personales, se deberá señalar la modalidad en la que
                    prefiere que éstos se reproduzcan;</li>
                  <li> Tratándose de una solicitud de cancelación, el titular deberá señalar las causas que lo motiven
                    a solicitar la supresión de sus datos;</li>
                  <li> Para una solicitud de oposición, el titular deberá manifestar las causas legítimas o la
                    situación específica que lo llevan a requerir el cese del tratamiento, así como el daño o
                    perjuicio que le causaría lapersistencia del tratamiento.</li>
                </ol>
                <p>
                  En caso de que la solicitud no satisfaga alguno de los requisitos establecidos, se
                  prevendrá al titular de los datos dentro de los 5 días siguientes a su presentación,
                  por una sola ocasión, para que subsane las omisiones dentro de un plazo de 10
                  días contados a partir del día siguiente al de la notificación. La prevención tendrá
                  el efecto de interrumpir el plazo para resolver la solicitud.
                </p>
                <p>El plazo para dar respuesta a la solicitud de ejercicio de derechos ARCO, no podrá
                  exceder de 20 días, contados a partir del día siguiente a la recepción de la
                  solicitud.</p>
                <p>El plazo referido en el párrafo anterior podrá ser ampliado, por una sola vez, hasta
                  por 10 días, cuando así lo justifiquen las circunstancias del asunto.
                </p>
                <p>En caso de resultar procedente, el ejercicio de los derechos ARCO deberá
                  hacerse efectivo en un plazo que no podrá exceder de 15 días, contados a partir
                  del día siguiente en que se haya notificado la respuesta al titular.
                </p>
                <p>Se precisa que la Plataforma Nacional de Transparencia y el domicilio señalado
                  por el particular para recibir notificaciones, constituyen los <strong>medios</strong> a través de
                  los cuales se dará respuesta a la solicitud para el ejercicio de los derechos ARCO.
                </p>
                <p>Tratándose de una solicitud de acceso a datos personales, la respuesta será
                  entregada atendiendo a la modalidad requerida por el titular, salvo que exista una
                  imposibilidad física o jurídica que la reproducción de los datos personales en tal
                  modalidad, caso en el que se ofrecerán otras modalidades de entrega de los datos
                  personales.
                </p>
                <p>En caso de inconformidad con la respuesta entregada, se indica que al solicitante
                  le asiste el derecho de interponer un recurso de revisión ante el Instituto Nacional
                  de Transparencia, Acceso a la Información Pública y protección de Datos
                  Personales, en términos de lo dispuesto en el artículo 94 de la Ley General.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Final -->
    <div class="row foot rounded mt-3 p-2 me-0 pt-4 border" style="bottom:0; z-index:999999; ">
      <div class="col">
        <div class="row">
          <div class="col texto texto-sub fw-light lh-sm">
            <p><sup>1</sup> <strong class="fw-bold"> LGBTTIQA+:</strong> Lesbiana, Gay, Bisexual, Transgénero,
              Transexual, Travesti, Intersexual, Queer, Asexual y cualquier otra. <br>
              <sup>2</sup><strong class="fw-bold"> Transferencia:</strong> se refiere a toda comunicación de datos
              personales realizada por la instancia responsable a persona distinta <i>(i)</i> de su
              titular, <i>(ii)</i> del CJF o <i>(iii)</i> de una persona ajena al CJF que sola o conjuntamente con
              otras trate datos personales a nombre y por cuenta del
              propio CJF.</p>
          </div>
        </div>
        <div class="row">
          <div class="col texto-sub">
            <strong>Domicilio y teléfono de la Unidad de Transparencia:</strong>
            <p class="d-block fw-light lh-sm">
              Carretera Picacho Ajusco 170, Planta Baja, ala A, Colonia Jardines en la Montaña, Ciudad de México,
              Demarcación Territorial Tlalpan, C.P. 14210.
              <strong class="fw-bold">Teléfono:</strong> 54499500, extensiones 1231 y 1240.
            </p>
          </div>
          <div class="col texto-sub">
            <strong>Medios a través de los cuales la entidad responsable comunicará a las personas
              titulares los cambios al aviso de privacidad</strong>
            <p class="d-block fw-light lh-sm">
              <a href="https://www.cjf.gob.mx/transparencia/proteccionDatosPersonales.htm">
                https://www.cjf.gob.mx/transparencia/proteccionDatosPersonales.htm</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center texto-sub">
            <p class="fw-light lh-sm">Fecha de actualización: 22 de agosto de 2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
