<div class="container-fluid">
  <div class="row h-100">
    <div class="col ">
      <div class="row m-5">
        <div class="col">
          <app-headerinforme></app-headerinforme>
        </div>
      </div>
      <!-- Contenido -->
      <div class="row m-5">
        <div class="col">
          <p class="fw-bold mb-2 text-end">Fecha de elaboración: 1-septiembre-2023</p>
          <h4 class="fw-bold mb-2 text-center">FORMULARIO DE ATENCIÓN</h4>
        </div>
      </div>

    </div>
  </div>
</div>
