<div class="container-fluid">
  <div class="row h-100">
    <div class="col ">
      <div class="row m-5">
        <div class="col">
          <app-headerinforme></app-headerinforme>
        </div>
      </div>

       <!-- Contenido -->
       <div class="row m-5">
        <div class="col text-center">
          <h4 class="fw-bold mb-0">Cuadernillo Orientación:</h4>
        </div>
      </div>

      <div class="row m-5">
        <div class="col">
          <div class="row border border-black">
            <div class="col text-center">
              <P class="fw-bold m-1">CUADERNILLO UPCAS: UPCVLAS/CJF/OR-038/2023</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col text-start">
              <P class="fw-bold m-1">Usuaria:</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col text-start">
              <P class="fw-bold m-1">Fecha y Hora:</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col text-start">
              <P class="fw-bold m-1">Tipo de Diligencia:</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col text-start">
              <P class="fw-bold m-1">Modalidad:</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col text-start">
              <P class="fw-bold m-1">Duración aproximada:</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col-4 border-end border-black">
              <P class="fw-bold m-1">Objetivo de la diligencia:</P>
            </div>
            <div class="col">
              <P class="fw-bold m-1">[texto]</P>
            </div>
          </div>
          <div class="row border border-black">
            <div class="col-4 border-end border-black">
              <P class="fw-bold m-1">Descripción breve de la app-diligencia-llamada:</P>
            </div>
            <div class="col">
              <P class="fw-bold m-1">[texto]</P>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
