<div class="container-fluid">
  <div class="row h-100">
    <div class="col ">
      <div class="row m-5">
        <div class="col">
          <app-headerinforme></app-headerinforme>
        </div>
      </div>
      <div class="row m-5">
        <div class="col text-end">
          <p class="fw-bold mb-0">PSICO: UPCVLAS/OR-038/2023</p>
          <p class="fw-bold mb-1">Área: Justicia Restaurativa</p>
          <p class="fw-bold mb-0">Folio SIGDOC: 985/2023</p>
        </div>
      </div>

      <div class="row m-5">
        <div class="col">
          <section>
            <article class="con-justify">
              Texto 1
            </article>
            <span class="d-block p-2 text-bg-dark mt-2 text-center">Recepción de constancias</span>
            <article class="con-justify">
              Texto 2
            </article>
            <span class="d-block p-2 text-bg-dark mt-2 text-center">Se instruye realizar primer contacto</span>
          </section>
        </div>
      </div>

    </div>
  </div>
</div>
