<div class="shadow-lg h-100 color-primary">
  <div class="row h-100">
    <div class="col box-left ">
      <div class="row m-5">
        <div class="col">
          <app-headerinforme></app-headerinforme>
        </div>
      </div>
      <div class="row ms-5 me-5 mt-1">
        <div class="col">
          <strong>INFORME DE LA SESIÓN DE ORIENTACIÓN</strong> <br><br>
          <p class="con-justify">
            De conformidad con los Lineamientos que regulan la
            actuación de la Unidad de Prevención y Combate a la Violencia
            Laboral y al Acoso Sexual en la atención de casos relacionados con
            cualquier forma de violencia laboral y acoso sexual en el Poder
            Judicial de la Federación, con excepción de la Suprema Corte de
            Justicia de la Nación y del Tribunal Electoral del Poder Judicial de la
            Federación, específicamente con lo dispuesto en los artículos 15,
            16 y 17, la <strong>Subdirección de Atención Jurídica</strong> rinde el siguiente
            informe de la sesión de orientación realizada con la persona
            quejosa del cuadernillo citado al rubro.
          </p>
        </div>
      </div>
      <div class="row ms-5 me-5 mt-1">
        <div class="col-3 border-end border-dark border-4 text-start">
          <h5>Información</h5>
        </div>
        <div class="col">
          <h5 class="card-title fs-6">A. Persona agraviada, quejosa o denunciante y de
            la persona probable infractora.
            <a class="icon-link icon-link-hover fs-4" style="--bs-link-hover-color-rgb: 142, 68, 173;"
              data-bs-toggle="modal" data-bs-target="#exampleModalx">
              <i class="bi bi-person-vcard-fill"></i>
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#bi bi-person-vcard-fill"></use>
              </svg>
            </a>
          </h5>
        </div>
      </div>
      <div class="row ms-5 me-5 mt-3">
        <div class="col">
          <p>Área de adscripción o a la que informe sus actividades: Dirección
            General de Asuntos Jurídicos.</p>
        </div>
      </div>
      <div class="row ms-5 me-5 mt-3">
        <div class="col-3 border-end border-dark border-4 text-start">
          <h5>Narracción</h5>
        </div>
        <div class="col">
          <h5 class="card-title fs-6">B. Narración de los hechos.
            <a class="icon-link icon-link-hover fs-4" style="--bs-link-hover-color-rgb: 142, 68, 173;"
              data-bs-toggle="modal" data-bs-target="#exampleModaly">
              <i class="bi bi-megaphone-fill"></i>
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#bi bi-person-vcard-fill"></use>
              </svg>
            </a>
          </h5>
        </div>
      </div>
      <div class="row ms-5 me-5 mt-3">
        <div class="col-3 border-end border-dark border-4 text-start">
          <h5>Diagnostico</h5>
        </div>
        <div class="col">
          <h5 class="card-title fs-6">C. Impresión diagnóstica.
            <a class="icon-link icon-link-hover fs-4" style="--bs-link-hover-color-rgb: 142, 68, 173;"
              data-bs-toggle="modal" data-bs-target="#exampleModalz">
              <i class="bi bi-heart-pulse-fill"></i>
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#bi bi-person-vcard-fill"></use>
              </svg>
            </a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col box-right">
      <div class="row m-5">
        <div class="col">
          <app-headerinforme></app-headerinforme>
        </div>
      </div>
      <div class="row ms-5 me-5 mt-1">
        <div class="col">

        </div>
      </div>
    </div>
  </div>
</div>
