<div class="container-fluid  h-100">
  <div class="row h-100">
    <!-- Sheet 1 -->
    <div class="col">
      <!-- Container -->
      <div class="row ">
        <div class="col">
          <div class="position-absolute top-50 start-0 translate-middle ms-5">
            <h1 class="indice">INDICE</h1>
          </div>
          <div class="v-line">
          </div>
        </div>
      </div>

      <div class="row margin-indice">
        <div class="col">
          <section>
            <h1>Paginas</h1>
          </section>
          <section class="mt-3 fs-4">
            <ol start="1">
              <li>
                <a class="pointer link-dark link-underline link-underline-opacity-0">Indice</a>
              </li>
              <li>
                <a class="pointer link-dark link-underline link-underline-opacity-0 ">Portada</a>
              </li>
              <li>
                <a class="pointer link-dark link-underline link-underline-opacity-0 ">Informe del Caso</a>
              </li>
              <li>
                <a class="pointer link-dark link-underline link-underline-opacity-0 ">Informe del Caso</a>
              </li>
            </ol>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
