.home {
  color: #283747;
}

.sizetitulo{
  width: 20rem;
}

.manos{
  margin: 10% 30% 10% 10% ;
  width: 80%;
  justify-content: center;
}

.luna{
  position:absolute;
  width:25%;
  height:25%;
  border-radius:100%;
  background:white;
  margin:0.1em 11em;
  box-shadow:0 0 100px #FFf;
}
