<div class="home mt-3">
  <div class="row">
    <div class="col">
      <div class="row mt-5">
        <div class="col text-center border-black border-bottom bg-opacity-75 p-3">
          <img src="assets/img/logoazul.png" class="sizetitulo">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <h5>SECRETARÍA GENERAL DE LA PRESIDENCIA <br>
            UNIDAD DE PREVENCIÓN Y COMBATE A LA VIOLENCIA <br>
            LABORAL Y AL ACOSO SEXUAL</h5>
        </div>
      </div>

      <div class="row manos">
        <div class="col">
          <img src="assets/img/mano-izq.svg" alt="">
        </div>
        <div class="luna"></div>
        <div class="col">
          <img src="assets/img/mano-der.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
