.menu{
  background:#F4F6F7;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 300px;
}

.item{
  background:#F4F6F7;
}

.item:hover {
  background:#C39BD3 ;
}
